---
---

@import "{{ site.theme }}";

/* Page title (hero section) */
.page-heading {
  color: #2563eb !important; /* change color */
}

/* Site title in navbar */
.navbar-brand {
  color: #2563eb !important;
}

/* Main headers */
h1, h2 {
  color: #2563eb;
}
